<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- Fonts used: IBM Plex {Mono,Sans,Serif}; Germania One (for links) -->
  <link href="https://fonts.googleapis.com/css?family=Germania+One|IBM+Plex+Mono|IBM+Plex+Sans:400,400i,600,600i,700|IBM+Plex+Serif:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Show heading anchors -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"></script>

  <script>
  document.addEventListener("DOMContentLoaded", function(event) {
      anchors.options = {
          placement: 'left',
          icon: '❧',
          visible: 'always'
      }
      anchors.add('.post-content > h1, .post-content > h2, .post-content > h3, .post-content > h4');
  });
  </script>
</head>
