---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    {% assign words = content | number_of_words %}
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      • <span itemprop="wordCount" itemscope itemtype="http://schema.org/Integer">{{ words }} words</span>
      • <span itemscope itemtype="http://schema.org/Integer">Reading time: {{ words | divided_by:180.0 | ceil }} minutes</span>
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
